.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2000;
}

.menu_list {
    min-height: 86px;
    padding: 10px 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    border-radius: 0px 0px 30px 30px;
    background-color: hsl(158 14% 73% / 75%);
    backdrop-filter: blur(10px);
}

.menu_link {
    display: flex;
    align-items: center;
    gap: .5em;

    padding: .65em 1em;

    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: var(--primary-color);

    border-radius: 1.5em;
    transition: 100ms;
}
.menu_link:hover {
    background-color: #fff27d;
}
.menu_link:has(img) > img {
    height: 26px;
}