@import url("/css/_fonts.css");
@import url("/css/_vars.css");
@import url("/css/_reset.css");
@import url("/css/_base.css");
@import url("/css/_menu.css");

/*------------------------------------------------------------*/
._container-consultation {
    max-width: 1200px;
    margin: 0 auto; 
}
._box {
    padding: 30px; 
    margin-bottom: 50px;

    border: 2px solid var(--primary-color);
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: #dae2eb;
}
._title {
    font-size: 32px; 
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
._text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #000;
}
._text:not(:last-of-type) {
    margin-bottom: 1rem;
}

.about-page {
    position: relative;
    margin-top: 190px;
}
.about-page__text {
    max-width: 1200px;
}

.consultation_btn img{
    margin: auto;
    margin-top: 20px;
}

.clinics {
    border: 3px solid #396857;
    border-radius: 20px;
    background-color: #D7E1DD;
    margin-top: 30px;
}
.clinics__header {
    display: flex;
    border-bottom: 3px solid #396857;
    min-height: 63px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 32px;
    color: #396857;
    position: relative;
}
.line {
    position: absolute;
    left: 682.5px;
    top: 0;
    border-right: 3px solid #396857;
    height: 63px;
}
.name {
    width: 70%;
    padding-left: 40px;
}

.place {
    display: flex;
    width: 30%;
}

.city{
    padding-left: 40px;
}
.clinics__body {
    display: flex;
    border-bottom: 3px solid #396857;
    max-height: 110px;
    font-size: 24px;
    line-height: 32px;
    position: relative;
}
.line2 {
    position: absolute;
    left: 611.5px;
    top: 0;
    border-right: 3px solid #396857;
    height: 89px;
}
.information {
    margin: auto;
    width: 70%;
    padding-left: 40px;
}
.picture {
}
.btn__more {
    min-height: 76px;
    margin: auto;
    background-color: #FFF9C7;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #396857;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
}
.oms{
    height: 128px;
    background: #FFF9C7;
    border: 2px solid #396857;
    border-radius: 30px;
    padding: 25px 30px 25px 30px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;
}


/* ТАБЫ */

.hidden{
    display: none;
}

.list-group{
    display: flex;
    justify-content: space-between;
}

.list-group-item{
    background: #D7E1DD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
    font-size: 23px;
    color: #396857;
    cursor: pointer;
}

.card{
    background: #D7E1DD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
}

.specialist-card{
    padding: 30px;
}
.specialist-title{
    font-size: 23px;
    color: #396857;
    margin-bottom: 10px;
}

.main-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-indent: 15px;
}

.description{
    color:#396857;
    margin-bottom: 15px;
}

.body-text{
    font-weight: 200;
    margin-bottom: 15px;
}

.warning{
    font-weight: 200;
    margin-bottom: 15px;
    text-decoration: underline;
}