@import url("/css/_fonts.css");
@import url("/css/_vars.css");
@import url("/css/_reset.css");
@import url("/css/_base.css");
@import url("/css/_menu.css");

/*------------------------------------------------------------*/

.filters {
    margin-top: 140px;
}
.filters__form {
    display: flex;
    justify-content: end;
    gap: 1rem;
}
.filters__form > label {
    padding: .65em 1.2em;

    display: flex;
    align-items: center;

    font-weight: 500;
    color: var(--primary-color);

    border-radius: 1em;
    border: 2px solid;

    user-select: none;
    cursor: pointer;
}
.filters__form > label:has(:checked) {
    background-color: var(--primary-color);
    color: #fff;
}
.filters__form > label > input[type=checkbox] {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 0;
    height: 0;
    opacity: 0;
}
.filters__form button[type=submit] {
    margin-left: 1rem;
    padding: .65em 1.2em;
    border-radius: 1em;

    font-weight: 700;

    color: var(--primary-color);
    background-color: transparent;

    transition: 100ms;
}
.filters__form button[type=submit]:hover {
    background-color: #d7e1dd;
}

.write-article {
    position: relative;
    padding: 1.2em 1.2em 1.2em 3.9em;

    margin-top: 1.2em;

    display: block;
    width: fit-content;

    font-weight: 500;
    color: var(--primary-color);
    background-color: #d7e1dd;
    
    border: 2px solid;
    border-radius: 1.2em;
}
.write-article::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 1.2em;
    transform: translateY(-50%);

    width: 1.5em;
    aspect-ratio: 1;

    background-image: url('/images/btn-write-article.svg');
    background-position: center;
    background-size: cover;
}








/* карточка форума */
.forum-articles {
    margin: 60px 0 100px;
}
.forum-articles__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 1.5rem;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding: 1.5rem;

    box-shadow: 10px 10px 20px -4px rgba(16, 24, 40, 0.25);
    border-radius: 30px;
}

._ortorecsia{
  background: linear-gradient(180deg, #396857 0%, #FFFFFF 100%);
}
._anorecsia{
  background: linear-gradient(180deg, #683939 0%, #FFFFFF 100%), #FFFFFF;
}
._boolimia{
  background: linear-gradient(180deg, #CEBE29 0%, #FFFFFF 100%), #FFFFFF;
}
._compulsia{
  background: linear-gradient(180deg, #DAE2EB 0%, #FFFFFF 100%);
}

.state-picture {
    margin-bottom: 2rem;
}

.title-filter {
    width: fit-content;
    display: flex;
    gap: 1rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;

    color: #396857;
}
.main-title {
  position: relative;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;

  padding-right: 3rem;

  color: #101828;
  cursor: pointer;
}
.main-title::after {
  content: "";
  position: absolute;
  top: .4rem;
  right: .4rem;

  width: 1rem;
  aspect-ratio: 1;

  background-image: url("/images/arrowUpRight.svg");
  background-size: cover;
  background-position: center;

  transition: all 200ms ease;
}
.main-title:hover::after {
  top: 0;
  right: 0;
}

.card-text {
    line-height: 1.5;
    color: #667085;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.avatar-info {
    margin-top: auto;
    display: flex;
    gap: 1.5rem;
}
.foto {
    margin-right: 12px;
}
.author {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #101828;
}
.publication-date {
    font-size: 14px;
    line-height: 20px;

    color: #667085;
}




.subjform form {
    width: 100%;
    max-width: 460px;

    margin: 200px auto 0;
    padding: 2em;  

    background-color: #d7e1dd;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
}
.subjform form > *:not(:last-child) {
    margin-bottom: 1em;
}
.subjform form label {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.subjform form .text-fields {
    flex-direction: column;
    align-items: start;
}
.subjform form .text-fields {
    margin-top: 1.65em;
}
.subjform form input[type=checkbox] {
    accent-color: var(--primary-color);
    width: 1em;
    aspect-ratio: 1;
}
.subjform form input[type=text], .subjform form textarea {
    width: 100%;
    padding: 1em;
    outline: 1px solid #d9d9d9;
}
.subjform form input[type=text]:focus, .subjform form textarea:focus {
    outline: 2px solid var(--primary-color);
}
.subjform form textarea {
    min-height: 200px;
    max-height: 300px;
    line-height: 1.5;
}
.subjform form button[type=submit] {
    width: 100%;
    margin-top: 1.65em;
    padding: 1rem 3rem;

    font-weight: 500;
    color: var(--primary-color);

    border: 2px solid;
    border-radius: 30px;
    background-color: transparent;

    transition: 100ms;
}
.subjform form button[type=submit]:hover {
    background-color: #fff27d;
}