*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea{
    font-family: inherit;
  }
  
  input::-ms-clear{
    display:none;
  }
  
  button{
    cursor: pointer;
  }
  button::-moz-focus-inner{
    padding: 0;
    border: 0;
  }
  
  a, a:visited{
    text-decoration:none;
  }
  a:hover{
    text-decoration: none;
  }
  
  ul li{
    list-style: none;
  }
  
  img{
    vertical-align: top;
  }
  
  h1, h2,h3, h4, h5, h6{
    font-size: inherit;
    font-weight: inherit;
  }
  /* ------------------------------------------------------------------------------------- */
  
  /*Убрать полосу прокрутки для всей страницы*/
  ::-webkit-scrollbar {
    width: 0;
  } 
  
  html {
    scroll-behavior: smooth;
  }
  
  body{
    height: 100%;
    font-family: 'Roboto Mono', monospace;
  }
  
  .wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  ._container{
    max-width: 1366px;
    margin: 0px auto;
  }
  

  

  /* карточка форума */

.card__wrapper {
    width: 384px;
    height: 588px;

    background: linear-gradient(180deg, #396857 0%, #FFFFFF 100%);
    box-shadow: 10px 10px 20px -4px rgba(16, 24, 40, 0.25);
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card__content{
    width: 336px;
}
.state-picture {
    
}
.title-filter {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #396857;
}
.main-title-block {
    display: flex;
}
.main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #101828;

    width: 90%;
}
.card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #667085;

}
.avatar-info {
    display: flex;
}
.foto {
}
.name-date-box {
    /* display: flex; */
}
.author {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #101828;
}
.publication-date {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #667085;
}