.header {
    
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2000;
}

.header_container {
    // max-height: 80px;
    min-height: 80px;
    align-items: center;
    background-color: rgba(176, 195, 188, 1);
    border-radius: 0px 0px 30px 30px;
}

.header_menu {
    
}
.menu_list {
    display: flex;
}
.menu_item {
    margin: 30px auto;
}

.menu_item:not(:last-child):hover{
    background: #FFF27D;
    border-radius: 30px;
    // УБОГО
}

.menu_item img{
    height: 25px;
    color: initial;
}

.menu_link {
    // height: 30px;

    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    
    color: #000000;
    
    // display:inline-block;
    // height: 0px;
    
}



.menu_item:last-child{
    border: 1px solid black;
    border-radius: 20px;
}

.menu_item:last-of-type a{
    color: rgba(0, 0, 0, 0.4);
    padding: 20px 60px 20px 0px;
    // УБОГО - СДЕЛАТЬ ФЛЕКС?
}

.menu_item:last-of-type img{
    padding-left: 10px;
}

