@import "../../study/null.scss";

.popup {
    z-index: 2000;

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #B0C3BC, $alpha: 0.8);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    transition: all 0.8s ease 0s;
}

//----------- Анимация попапа

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__contetnt{
    transform: translate(0px, 0px);
    opacity: 1;
}

//----------------------- попап входа

.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

}
.popup__contetnt {
    background-color: #fff;
    color: black;

    min-width: 427px;
    min-height: 261px;
    // padding: 30px;

    position: relative;

        
    border: 3px solid #396857;
    border-radius: 40px;

    transform: translate(0px, -100%);
    transition: all 0.8s ease 0s;
    opacity: 0;
}