@import url("/css/_fonts.css");
@import url("/css/_vars.css");
@import url("/css/_reset.css");
@import url("/css/_base.css");

/*------------------------------------------------------------*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(158 14% 73% / 0.8);
}

/* .popup__area { ???
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */

.popup__body {
    position: relative;
    /* max-width: 427px;
    max-height: 261px; */

    border: 3px solid var(--primary-color);
    border-radius: 2.5rem;
    overflow: hidden;

    color: black;
}

.popup__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 1rem;
    background-color: white;
}

.entrance, .registration {
    font-size: .9rem;
    color: var(--primary-color);
}



.popup__middle {
  padding: 1rem;
  background: linear-gradient(100deg, #fff 2%, #d7e1dd 98%);
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.input__row {
  background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 40px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}

label img {
  padding-right: 80px;
}

input[type=email], input[type=password] {
  width: 65%;
}

.checkbox__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.forgot, .rememberMe {
    font-size: .9rem;
    color: #396857;
}

.rememberMe > input {
    accent-color: var(--primary-color);
}

.rememberMe {
    display: flex;
    gap: .5rem;
}



.popup__footer {
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--primary-color);
}
.popup__footer button[type=submit] {
    padding: 1rem;
    width: 100%;

    border-radius: 2.5rem;
}










/* .popup__middle__2 { ???
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(109.98deg, #FFFFFF 1.81%, #D7E1DD 98.82%);
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.text { ???
  width: 340px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #74807c;
  padding: 5px;
} */