@import url("/css/_fonts.css");
@import url("/css/_vars.css");
@import url("/css/_reset.css");
@import url("/css/_base.css");
@import url("/css/_menu.css");

/*------------------------------------------------------------*/

._container-self-help {
    max-width: 1200px;
    margin: 0 auto;
}
._box {
    padding: 30px; 
    margin-bottom: 50px;

    border: 2px solid var(--primary-color);
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: #dae2eb;
}
._title {
    font-size: 32px; 
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
._text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #000;
}
._text:not(:last-of-type) {
    margin-bottom: 1rem;
}


.about-page {
    position: relative;
    margin-top: 210px;
}
.about-page__text {
    max-width: 930px;
}
.girlWaterYourself {
    position: absolute;
    top: -52%;
    right: -14%;
    pointer-events: none;
}


.video__row {
    display: flex;
}
.video__row > * {
    flex: 1;
}



.taskHelp-row {
    position: relative;
    
    padding: 1.7em 5.2em;
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;

    font-size: 20px;
    line-height: 1.4;
    color: var(--primary-color);
    
    border: 2px solid;
    border-radius: 30px;

    cursor: pointer;
}
.taskHelp-row::before, .taskHelp-row::after  {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;

    aspect-ratio: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.taskHelp-row::before {
    width: 2em;
    left: 1.7em;
    background-image: url('/images/writeTask.svg');
}
.taskHelp-row::after {
    width: 1.5em;
    right: 1.7em;
    background-image: url('/images/ArrowDown.svg');
}


.task-block_text {
    display: none;

    padding: 1.4em;
    margin-left: 2em;
    margin-bottom: 1.5rem;

    border: 2px solid var(--primary-color);
    border-radius: 30px;

    background-color: #fff;
}
.task-block_text > p {
    text-indent: 3ch;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
}
.task-block_text > p:not(:last-child) {
    margin-bottom: 0.5em;
}