@import url("/css/_fonts.css");
@import url("/css/_vars.css");
@import url("/css/_reset.css");
@import url("/css/_base.css");
@import url("/css/_menu.css");

/*------------------------------------------------------------*/

._title {
    margin: 30px;
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
    color: var(--primary-color);
}
._text {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;

    color: #000;
    width: 818px;
    margin: 30px;
}

._box{
    border: 2px solid var(--primary-color);
    width: 1198px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: #dae2eb;
}

.about-page{
    position: relative;
    margin-top: 208px;
    height: 313px;
}

.girlWaterYourself {
    position: absolute;
    left: 920px;
    top: -160.51px;
}

.useful-sources {
    height: 629px;

    margin-top: 50px;
}
.video__row{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
 }

.useful-sources-telegram{
    margin-top: 50px;
 }
.tg__row{
    margin: 20px;
 }
.task {
    margin-top: 50px;
}

.taskHelp-row{
  border: 2px solid var(--primary-color);
  border-radius: 30px;

  display: flex;
  align-items: center;

  width: 1138px;
  height: 100px;

  margin-left: 30px;
  margin-bottom: 20px;
  padding-left: 30px;

  position: relative;
  cursor: pointer;
}
._task-title{
  font-size: 20px;
  line-height: 26px;
  color: var(--primary-color);
  margin-left: 50px;
  
}
.arrow{
  position: absolute;
  left: 95.61%;
  right: 1.76%;
  top: 35%;
  bottom: 65%;
}

.task-block_text {
  display: none;
  padding: 10px 0px 0px 0px;

  font-weight: 300;
  font-size: 20px;
  line-height: 26px;

  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  
  padding: 20px;
  width: 1138px;

  margin-left: 30px;
  margin-bottom: 20px;
}

p {
  text-indent: 10px;
}
